@import "normalize";
@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";

$translateZ: translateZ(28px);
$inner-border-radius: 14px;
$decoration-color: #f0f0f0;

$default-text-shadow-color: rgba(black, 0.6);
$default-text-shadow-blur: 1px;
$default-text-shadow-v-offset: 1px;

body, html {
	height: 100%;
}

@keyframes rotate {
   0% { 
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	transform: rotateX(0deg); 
	}
}
.container {
	display: flex;
	align-content: center;
	justify-content: center;
	min-height: 100%;
}
#caffeine-machine {
	width: 360px;
	background-color: red;
	padding: 40px;
	border-radius: 50% 50% 30px 30px / 120px 120px 30px 30px;
	margin: 40px;
	@include box-shadow(rgba(gray, 0.5) 0 0 30px 1px inset);
	
	h1 {
		font-family: 'Courgette', cursive;
		font-size: 2rem;
		font-weight: bold;
		text-align: center;
		color: $decoration-color;
		height: 4rem;
		line-height: 4rem;
		padding-top: 2rem;
		border: 3px solid $decoration-color;
		border-radius:  50% 50% 20px 20px / 80% 80% 20px 20px;
		@include single-text-shadow;
		@include box-shadow(rgba(black, 0.2) 0 0 1px 1px, rgba(black, 0.2) 0 0 1px 1px inset);
	}
}
#reels {
	background: gray;
	@include clearfix;
	width: 360px;
	height: 120px;
	position: relative;
	perspective: 500px;
	margin: 20px auto;
	
	img {
		background: red;
		height: 100px;
		width: 100px;
		text-align: center;
		line-height: 100px;
		margin: 0;
		display: block;
		position: absolute;
		left: 10px;
		top: 10px;
		transform: translateZ(30px);
		
		&:nth-child(1) { 
			transform: rotateX(0deg) $translateZ; 
		}
		&:nth-child(2) { 
			transform: rotateX(120deg) $translateZ; 
		}
		&:nth-child(3) { 
			transform: rotateX(240deg) $translateZ; 
		}
	}
	
	.reel {
		display: inline-block;
		float: left;
		width: 120px;
		height: 120px;
		transform-style: preserve-3d;
		animation: rotate 3s;
	}
}
