@import "normalize";
@import "compass/reset";
@import "compass/utilities";

body, html {
	height: 100%;
}
.container {
	display: flex;
	align-content: center;
	justify-content: center;
	min-height: 100%;
}
#reels {
	background: gray;
	width: 312px;
	padding: 2px;
	@include clearfix;
	
	img {
		width: 100px;
		height: 100px;
	}
	
	.reel {
		width: 100px;
		height: 300px;
		background: yellow;
		margin:2px;
		display: inline-block;
		float: left;
		overflow: hidden;
	}
}